.App {
  padding: 5%;
}

.App-logo {
  width: 300px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-content {
  text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.imgPreview{
  text-align: center;
  margin: 5px 0px;
  height: auto;
  min-height: 200px;
  width: 500px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.imgPreview img{
  width: 100%;
  height: auto;
}

.section {
  padding-top: 50px;
}

.editor {
  border: 1px solid lightgray;
}

.btn-red:enabled {
  background-color: red;
}

.btn-blue:enabled {
  background-color: blue;
  color: white;
}

